Package: com.bhackel.YTNoSuggestedVideo
Name: YTNoSuggestedVideo
Version: 1.0
Architecture: iphoneos-arm
Description: Removes the suggested video popup when finishing a video
Maintainer: bhackel
Author: bhackel
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
